<div class="content-wrapper">
    <section class="content-header">
    </section>
    <ng-template [ngTemplateOutlet]="levelCreateForm"></ng-template>
</div>


<ng-template #levelCreateForm>
    <section class="content">
        <div class="container-fluid">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <h5>Yeni Seviye</h5>
                            <form [formGroup]="levelForm" (ngSubmit)="createLevel()">
                                <div class="row d-flex justify-content-around">
                                    <!-- Left Block -->
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="typeCode">Seviye Kodu</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        formControlName="levelCode"
                                                    />
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Açıklama</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="levelDescription"
                                                    formControlName="levelDescription"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Kota</label>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    name="quota"
                                                    formControlName="quota"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="moduleType">Modül Tipi</label>
                                                <select id="moduleType" formControlName="selecetModuleType" name="moduleType" class="custom-select" style="width: 100%;">
                                                    <option value="" disabled>Seçiniz</option>
                                                    <option *ngFor="let item of moduleTypes " [ngValue]="item.id">{{item.moduleDescription}}</option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                        <div class="card-footer float-right">
                                            <a href="levels" class="btn btn-secondary">İptal</a>
                                            <button type="submit" class="btn btn-primary ml-3">Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
            </div>
            <!-- /.col -->

        <!-- /.container-fluid -->
    </section>
</ng-template>




