.card-footer{
    background: white;
}
.detail{
    float: right;
    display: inline-block;

}
.title{
    float: left;
    display: inline-block;
    color: gray;
    font-size: 18px;
    line-height: 18px;
}
th{
    padding: 0;
    text-align: center;
    background-color: #3CBDC8;
    color: white;
    font-weight: normal;
}
td{
    padding: 0;
    text-align: center;
    background-color: #E0EBF9;
}
.row .card-body{
    padding: 0.45rem;
}
.data-input{
    padding: 0;
}
.data-input-left{
    padding-right: 0;
}
.data-input-right{
    padding-left: 0;
}
.show-info{
    width: 25%;
    background-color: #3CBDC8;
    color: white;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0;
}
.long-info{
    width: 75% !important;
    padding: 0;
}
.empty-info{
    width: 25%;
    color: white;
    border-radius: 0.25rem;
    text-align: center;
}
section{
    padding-bottom: 0;
}
.card{
    margin-bottom: 0.45rem;
}

.balance{
    padding-top:0px ;
    font-size: 18px;
}

