<div class="content-wrapper">
    <section class="content-header">
    </section>
    <ng-template [ngTemplateOutlet]="memberEditForm"></ng-template>
</div>

<ng-template #memberEditForm>
    
    <section class="content">
        <div class="container-fluid">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="float-right">
                            <a routerLink="/members" class="btn btn-sm btn-warning mr-3"><i class="fa fa-list"></i></a>
                            <a routerLink="/members/create" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
                            </div>
                            <h5>Üye Düzenle</h5>
                            <div class="row">
                                <div class="col-md-8" >
                            <form class="mt-3" [formGroup]="memberForm" (ngSubmit)="updateMember()">
                                
                                        <div class="card">
                                        <!-- Left Block -->
                                        <div class="row">
                                            <div class="data-input-left col-md-3 col-sm-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="firstName">Ad </label>
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                id="firstName"
                                                                name="firstName"
                                                                formControlName="firstName"
                                                                
                                                            />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastName">Soyad</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="lastName"
                                                            name="lastName"
                                                            formControlName="lastName"
                                                            
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nationalId">T.C.</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="nationalId"
                                                            name="nationalId"
                                                            formControlName="nationalId"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="gender">Cinsiyet</label>
                                                        <select id="gender" name="gender" formControlName="gender" class="custom-select" style="width: 100%;">
                                                            <option value="Female">Kadın</option>
                                                            <option value="Male">Erkek</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="dateOfBirth">Doğum Tarihi</label>
                                                        <div class="input-group date" data-target-input="nearest">
                                                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                            <input
                                                            class="form-control"
                                                            placeholder="yyyy-mm-dd"
                                                            name="dateOfBirth"
                                                            id="dateOfBirth"
                                                            formControlName="dateOfBirth"
                                                            [value]="memberForm.get('dateOfBirth').value | date : 'yyyy-MM-dd'"
                                                            ngbDatepicker
                                                            #d="ngbDatepicker"/>
                                                                
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="username">Kullanıcı Adı</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="username"
                                                            name="username"
                                                            formControlName="username"
                                                            readonly
                                                        
                                                        />
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            <!-- Middle Block -->
                                            <div class="data-input col-md-3 col-sm-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="placeOfBirth">Doğum Yeri</label>
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                id="placeOfBirth"
                                                                name="placeOfBirth"
                                                                formControlName="placeOfBirth"
                                                            />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Mobil:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control" name="mobilePhone" formControlName="mobilePhone" data-inputmask='"mask": "(999) 999-99-99"' data-mask>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Ev:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control" name="homePhone" formControlName="homePhone" data-inputmask='"mask": "(999) 999-99-99"' data-mask>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input
                                                            type="email"
                                                            class="form-control"
                                                            id="email"
                                                            name="email"
                                                            formControlName="email"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="job">İş</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="job"
                                                            name="job"
                                                            formControlName="job"
                                                        
                                                            
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">Parola</label>
                                                        <input
                                                            type="password"
                                                            class="form-control"
                                                            id="password"
                                                            name="password"
                                                            formControlName="password"
                                                        />
                                                    </div>
                                                </div> 
                                            </div>

                                            <!-- Middle 2 Block -->
                                            <div class="data-input col-md-3 col-sm-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="fatherName">Baba Adı</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="fatherName"
                                                            name="fatherName"
                                                            formControlName="fatherName"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="motherName">Anne Adı</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="motherName"
                                                            name="motherName"
                                                            formControlName="motherName"
                                                        />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="dateOfMembershipBegin">Üyelik Başlangıç</label>
                                                        <div class="input-group date" data-target-input="nearest">
                                                            <button class="btn btn-outline-secondary" (click)="db.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                            <input
                                                                class="form-control"
                                                                placeholder="yyyy-mm-dd"
                                                                placement="bottom"
                                                                name="dateOfMembershipBegin"
                                                                id="dateOfMembershipBegin"
                                                                formControlName="dateOfMembershipBegin"
                                                                [value]="memberForm.get('dateOfMembershipBegin').value | date : 'yyyy-MM-dd'"
                                                                ngbDatepicker
                                                                #db="ngbDatepicker"/>
                                                            
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="dateOfMembershipEnd">Üyelik Bitiş</label>
                                                        <div class="input-group date" data-target-input="nearest">
                                                            <button class="btn btn-outline-secondary" (click)="de.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                            <input
                                                                class="form-control"
                                                                placeholder="yyyy-mm-dd"
                                                                name="dateOfMembershipEnd"
                                                                id="dateOfMembershipEnd"
                                                                formControlName="dateOfMembershipEnd"
                                                                [value]="memberForm.get('dateOfMembershipEnd').value | date : 'yyyy-MM-dd'"
                                                                ngbDatepicker
                                                                #de="ngbDatepicker"/>
                                                            
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="membershipStatus">Üyelik Statüsü</label>
                                                        <select id="membershipStatus" [compareWith]="membershipStatus" formControlName="membershipStatus" name="membershipStatus" class="custom-select" style="width: 100%;">
                                                            <option value="" >Seçiniz</option>
                                                            <option *ngFor="let item of membershipStatuses " [ngValue]="item">{{item.statusName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Right Block -->
                                            <div class="data-input-rigth col-md-3 col-sm-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="memberType">Üye Tipi</label>
                                                        <select id="memberType" [compareWith]="memberType" formControlName="memberType" name="memberType" class="custom-select" style="width: 100%;">
                                                            <option value="" >Seçiniz</option>
                                                            <option *ngFor="let item of memberTypes " [ngValue]="item">{{item.description}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="city">İl</label>
                                                        <select id="city" [compareWith]="cty" formControlName="city" name="city" class="custom-select" style="width: 100%;">
                                                            <option value="" disabled>Seçiniz</option>
                                                            <option *ngFor="let item of cities " [ngValue]="item">{{item.cityName}}</option>
                                                        </select>
                                                    </div>

                                                    <!-- <div class="form-group">
                                                        <label for="county">İlçe</label>
                                                        <select id="county" name="county" class="custom-select" style="width: 100%;">
                                                            <option>Seçiniz</option>
                                                        </select>
                                                    </div> -->

                                                    <div class="form-group">
                                                        <label for="note">Not</label>
                                                        <textarea class="form-control" formControlName="note" rows="6" name="note" id="note" placeholder="Not..."></textarea>
                                                    </div>
                                                    <div class="form-group">

                                                                <!-- active -->
                                                                <div class="form-group clearfix">
                                                                    <div class="icheck-primary d-inline">
                                                                        <input type="checkbox" formControlName="active" id="acitve" checked>
                                                                        <label for="acitve">Aktif</label>
                                                                    </div>
                                                                </div>
                                                                    <!-- web reservation -->
                                                                    <div class="form-group clearfix">
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="checkbox" formControlName="webReservation" id="webReservation" checked>
                                                                            <label for="webReservation">Web Rez.</label>
                                                                        </div>
                                                                    </div>
                                                    </div>
                                                    <div class="row float-right">
                                                        <div class="card-footer">
                                                            <button (click)="deleteMember()" class="btn btn-danger">Sil</button>
                                                            <button type="submit" class="btn btn-warning ml-3">Güncelle</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    
                                        </div>
                                    </div>
                            </form>
                        </div>
                            <div class="col-md-4 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-11 col-sm-6">    
                                        <div class="title">
                                            <span>Rezervasyon Borcu</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">    
                                        <div class="detail">
                                            <a routerLink="" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead class="thead">
                                          <tr>
                                            <th scope="col">Ödenmeyen</th>
                                            <th scope="col">Ödenen</th>
                                            <th scope="col">İptal</th>
                                            <th scope="col">Genel</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Mark</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-11 col-sm-6">    
                                        <div class="title">
                                            <span>Rezervasyon Borcu</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">    
                                        <div class="detail">
                                            <a routerLink="" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead class="thead">
                                          <tr>
                                            <th scope="col">Ödenmeyen</th>
                                            <th scope="col">Ödenen</th>
                                            <th scope="col">İptal</th>
                                            <th scope="col">Genel</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Mark</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-11 col-sm-6">    
                                        <div class="title">
                                            <span>Rezervasyon Borcu</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">    
                                        <div class="detail">
                                            <a routerLink="" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead class="thead">
                                            <tr>
                                                <th scope="col">Ödenmeyen</th>
                                                <th scope="col">Ödenen</th>
                                                <th scope="col">İptal</th>
                                                <th scope="col">Genel</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-11 col-sm-6">    
                                        <div class="title">
                                            <span>Dolap Bilgileri</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">    
                                        <div class="detail">
                                            <button type="button" *ngIf="getMemberLockerCode==null" class="btn btn-sm btn-info" (click)="openPopup()"><i class="fas fa-plus"></i></button>
                                            <button type="button" *ngIf="getMemberLockerCode!=null" class="btn btn-sm btn-info" (click)="deleteMemberLocker()"><i class="fas fa-minus"></i></button>
                                        </div>
                                    </div>
                                    </div>
                                    <span>Dolap: </span>
                                    <input type="text" [(ngModel)]="getMemberLockerCode" readonly style="border:0">
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-11 col-sm-6">    
                                        <div class="title">
                                            <span>Rezervasyon Borcu</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6">    
                                        <div class="detail">
                                            <a routerLink="" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead class="thead">
                                          <tr>
                                            <th scope="col">Ödenmeyen</th>
                                            <th scope="col">Ödenen</th>
                                            <th scope="col">İptal</th>
                                            <th scope="col">Genel</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Mark</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!--Locker Save PopUp-->
                            <div
                            class="modal"
                            tabindex="-1"
                            role="dialog"
                            [ngStyle]="{'display':displayStyle}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Dolap Seçimi</h4>
                                </div>
                                <div class="modal-body">
                                    <select required id="selectedLocker" [(ngModel)]="selectedLocker" name="selectedLocker" class="custom-select" style="width: 100%;">
                                        <option value="" >Seçiniz</option>
                                        <option *ngFor="let item of lockers " [ngValue]="item">{{item.lockerCode}}</option>
                                    </select>
                            
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" 
                                            (click)="closePopup()">
                                    Kapat
                                    </button>
                                    <button type="button" class="btn btn-success" 
                                            (click)="addLocker()">
                                    Ekle
                                    </button>
                                    
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                    <!-- /.card -->
                </div>
            <!-- /.col -->

        <!-- /.container-fluid -->
    </section>
</ng-template>


