<div class="content-wrapper">
    <section class="content-header">
    </section>
    <ng-template [ngTemplateOutlet]="lockerCreateForm"></ng-template>
</div>


<ng-template #lockerCreateForm>
    <section class="content">
        <div class="container-fluid">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <h5>Yeni Dolap</h5>
                            <form [formGroup]="lockerForm" (ngSubmit)="createLocker()">
                                <div class="row d-flex justify-content-around">
                                    <!-- Left Block -->
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="lockerCode">Dolap Kodu</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        formControlName="lockerCode"
                                                        
                                                    />
                                            </div>
                                            <div class="form-group">
                                                <label for="duesfee">Aidat Ücreti</label>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    name="duesFee"
                                                    formControlName="duesFee"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="allocationFee">Tahsis Ücreti</label>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    name="allocationFee"
                                                    formControlName="allocationFee"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="lockerType">Dolap Tipi</label>
                                                <select id="lockerType" formControlName="selecetLockerType" name="lockerType" class="custom-select" style="width: 100%;">
                                                    <option value="" disabled>Seçiniz</option>
                                                    <option *ngFor="let item of lockerTypes " [ngValue]="item.id">{{item.description}}</option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                        <div class="card-footer float-right">
                                            <a href="lockers" class="btn btn-secondary">İptal</a>
                                            <button type="submit" class="btn btn-primary ml-3">Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
            </div>
            <!-- /.col -->

        <!-- /.container-fluid -->
    </section>
</ng-template>





